

<!DOCTYPE html>
<html>
<head>
	<title>Список постояльцев</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	
</head>

<body>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Фамилия Имя Отчество</th>
	      <th scope="col">Номер комнаты</th>
	      <th scope="col">Дата заселения</th>
	      <th scope="col">Дата выселения</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for client in object_list %}
		  	<tr>
				<th scope="row">{{client.id_room}}</th>
		      	<td>{{client.surname}} {{client.first_name}} {{client.patronymic}}</td>
		      	<td>{{client.room_number}}</td>
		      	<td>{{client.checkin_date}}</td>
		      	<td>{{client.checkout_date}}</td>
		    </tr>
		{% endfor %}
	  </tbody>
	</table>



	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>